.search-bar {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}

.search-bar form {
  display: flex;
  flex-direction: column;
}

.search-bar input {
  padding: 5px;
  font-size: 20px;
}

.search-bar label {
  font-size: 24px;
  margin: 5px;
}

.image-list {
  columns: 6 200px;
  column-gap: 10px;
}

.image-list image {
  width: 100%;
  margin-bottom: 10px;
}
